{% load static %}

﻿<!doctype html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <title>IP XX XXX 19</title>
  </head>
  <body style="background-color: black;">
	<div class="form-group col-sm-6 mx-auto p-0 mb-0 mt-0" style="background-color: white; min-height: 100vh;">
     <form action="" id="formInspecao" class="form-inlin justify-content-center m-0" dataCarregarMO="{% url 'telaPrincipal:ajaxCarregarMO' %}">
       <div id="passo1">
         <div style="min-height: 88vh;">
          <div style="background-color: #202020; color: #E6E6E6;" class="p-2 pt-3 pb-0 text-center">
          	<b>Plano de Controle:</b><br /> ROD02637-050D018-002-000<br />
          	<b>Identificação:</b> IP XX XXX 19, <b>Revisão:</b> 01
          </div>
          <div class="pl-2 pr-2" style="padding-top: 20vh; padding-bottom: 2.5vh;">
          	<label for="MO">Digite a MO:</label>

            <div class="input-group">
              <input class="form-control" type="search" placeholder="MO" id="txbMO">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="buscarMO">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        	  </div>
          </div>

          <div class="m-2 p-2 mb-3" style="border-left: 1px solid black;" id="moencontrada">
          	<b>Série I:</b> <span id="seriei"></span><br />
            <b>Série II:</b> <span id="serieii"></span><br />
            <b>Série III: </b> <span id="serieiii"></span><br />
          </div>
          <div class="alert alert-danger text-center m-2" style="display:none;" id="monaoencontrada" role="alert">
               MO não encontrada
          </div>
         </div>
         <div class="btn-group col-sm-12 mt-2">
          <div class="btn btn-default col-sm-6"></div>
            <a href="#" class="btn btn-primary col-sm-6 disabled" id="passo1_proximo">Próximo</a>
         </div>
       </div>
       <div id="passo2" style="display:none;">
        <div style="min-height: 90vh;">
          <div style="background-color: #202020; color: #E6E6E6;" class="p-2 pt-3 pb-0">
          	<b>MO:</b> A001234<br />
          	<b>Série I:</b> 35, <b>Serie II:</b> 36, <b>Série III:</b> 37<br />
            <b>Operador:</b> 2000 - João da Silva
          </div>
          <div style="color: #FFFFFF; background-color: #005A8F;" class="m-2 p-2 mb-3">
          	<b>Operação:</b><br />
          030 PBA<br /><br />
          	<b>Requisito:</b><br />
          1 - Verificar se as informações do rolamento estão sinetadas conforme desenho. Nota: posição de montagem S2 do anel externo na direção do S2 do anel interno<br /><br />
          	<b>Método/Instrução:</b><br />
          Visual
          </div>
          <div class="container" id="compermissao" style="display: none;">
          	<div class="row text-center mb-1">
          		<div class="col-sm-2 font-weight-bold">Série</div>
            	<div class="col-sm-6 font-weight-bold">Resultado</div>
            	<div class="col-sm-4 font-weight-bold">Unidade</div>
           	</div>
            <div class="row mb-2">
            	<div class="col-sm-2 text-center font-weight-bold">I</div>
            	<div class="col-sm-6">
                	<select class="form-control" id="serie1">
                      <option>-----</option>
                      <option>OK</option>
                      <option>NOK</option>
                    </select>
                </div>
            	<div class="col-sm-4 text-center">OK/NOK</div>
            </div>
            <div class="row mb-2">
            	<div class="col-sm-2 text-center font-weight-bold">II</div>
            	<div class="col-sm-6">
                	<select class="form-control" id="serie1">
                      <option>-----</option>
                      <option>OK</option>
                      <option>NOK</option>
                    </select>
               	</div>
            	<div class="col-sm-4 text-center">OK/NOK</div>
            </div>
            <div class="row">
            	<div class="col-sm-2 text-center font-weight-bold">III</div>
            	<div class="col-sm-6">
                	<select class="form-control" id="serie1">
                      <option>-----</option>
                      <option>OK</option>
                      <option>NOK</option>
                    </select>
                </div>
            	<div class="col-sm-4 text-center">OK/NOK</div>
            </div>
          </div>
          <div class="alert alert-danger text-center m-2" style="display:none;" id="sempermissao" role="alert">
  			       Sem permissão para registrar a inspeção desse requisito.<br /><b>Solicitar aos colaboradores responsáveis.</b>
		      </div>
         </div>
         <div class="btn-group col-sm-12 mt-2">
          <a href="#" class="btn btn-secondary col-sm-6" id="passo2_anterior">Anterior</a>
          <a href="#" class="btn btn-success col-sm-6">Registrar</a>
         </div>
       </div>
     </form>
    </div>

    <script type="text/javascript">
      jQuery(document).ready(function($) {

          $("#buscarMO").click (function () {
            $("#buscarMO").attr("disabled", true);
            var url = $("#formInspecao").attr("dataCarregarMO");  // get the url of the `load_cities` view
            var MOBuscar = $('#txbMO').val();  // get the selected country ID from the HTML input
            $.ajax({                       // initialize an AJAX request
              cache: false,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: url,
              data: {
                'MOBuscar': MOBuscar
              }
            })
            .done(function (response) {
              $.each(response, function (index, value) {
                if (this.encontrado == "true") {
                  $("#moencontrada").css("display", "block");
                  $("#monaoencontrada").css("display", "none");
                  $("#seriei").text(this.seriei);
                  $("#serieii").text(this.serieii);
                  $("#serieiii").text(this.serieiii);
                }
                else {
                  $("#moencontrada").css("display", "none");
                  $("#monaoencontrada").css("display", "block");
                }
                $("#spanPrazoPadraoCorte").html(this.prazopadraocorte);
                $("#spanTotalPrazoCorte").html(Number(this.prazopadraocorte) + Number($("#id_prazocorte").val()));
                $("#spanPrazoPadraoCaldSolda").html(this.prazopadraocaldsolda);
                $("#spanTotalCaldSolda").html(Number(this.prazopadraocaldsolda) + Number($("#id_prazocaldsolda").val()));
                $("#spanPrazoPadraoUsinagem").html(this.prazopadraousinagem);
                $("#spanTotalUsinagem").html(Number(this.prazopadraousinagem) + Number($("#id_prazousinagem").val()));
                $("#spanPrazoPadraoPintura").html(this.prazopadraopintura);
                $("#spanTotalPintura").html(Number(this.prazopadraopintura) + Number($("#id_prazopintura").val()));
              })
            });
          });

          $('#txbMO').bind('input', function() {
            $("#passo1_proximo").addClass('disabled');
            $("#buscarMO").attr("disabled", false);
            $("#moencontrada").css("display", "block");
            $("#monaoencontrada").css("display", "none");
            $("#seriei").text("");
            $("#serieii").text("");
            $("#serieiii").text("");
          });

      		$("#passo1_proximo").click(function () {
          	$("#passo1").css("display", "none");
            $("#passo2").css("display", "block");
            $("#compermissao").css("display", "none");
            $("#sempermissao").css("display", "block");
          });

          $("#passo2_anterior").click(function () {
          	$("#passo1").css("display", "block");
            $("#passo2").css("display", "none");
          });
    	});
    </script>
  </body>
</html>
