{% load static %}

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css-progress-wizard-master/css/progress-wizard.min.css' %}">

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ui-1.12.1/jquery-ui.js' %}"></script>

    <meta name="application-name" content="COT Plano de Controle">
    <meta name="theme-color" content="#337AB7">
    <link rel="manifest" href="{% static 'manifest.json' %}">

    <title>IP XX XXX 19</title>
  </head>
  <body style="background-color: black; overflow-x: hidden; overflow-y: hidden;">
    <div class="form-group col-sm-6 mx-auto p-0 mb-0 mt-0 toggler" style="background-color: white; min-height: 100vh;">
     <form action="" id="formInspecao" class="form-inlin justify-content-center m-0" dataCarregarMO="{% url 'telaPrincipal:ajaxCarregarMO' %}" dataCarregarItemInspecao="{% url 'telaPrincipal:ajaxCarregarItemInspecao' %}" dataRegistrarInspecao="{% url 'telaPrincipal:ajaxRegistrarInspecao' %}">
       <input type="hidden" id="hiddenidHPC" />
       <input type="hidden" id="hiddenidItemInspecaoPC" />
       <div style="position: absolute; top: 0; width: 100%;" class="ui-widget-content ui-corner-all">
         <div style="background-color: #202020; color: #202020;" class="p-2 pt-3 pb-0 text-center">
           <br /><br /><br />
         </div>
       </div>
       <div id="passo1" style="position: absolute; top: 0; width: 100%;" class="ui-widget-content ui-corner-all">
         <div style="min-height: 84vh; border-bottom: 1px solid white;">
          <div style="background-color: #202020; color: #E6E6E6;" class="p-2 pt-3 pb-0 text-center">
          	<b>Plano de Controle:</b><br /> ROD02637-050D018-002-000<br />
          	<b>Identificação:</b> IP XX XXX 19, <b>Revisão:</b> 01
          </div>
          <div class="pl-3 pr-3" style="padding-top: 20vh; padding-bottom: 2.5vh;">
          	<label for="MO">Digite a MO:</label>

            <div class="input-group" id="divMO">
              <input class="form-control" type="search" placeholder="MO" id="txbMO">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="buscarMO" disabled="disabled">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        	  </div>
          </div>

          <div class="m-2 p-2 mb-3" style="display:none;" id="moencontrada">
            <div class="btn-group btn-group-toggle grupoCBserie w-100" data-toggle="buttons">
              <label class="btn w-100 btn-outline-success labelCBserie">
                <input type="radio" name="serie" value="1">
                <span id="labelserie1"><b> Série I:</b> <span id="seriei"></span></span>
              </label>
              <label class="btn w-100 btn-outline-success labelCBserie">
                <input type="radio" name="serie" value="2">
                <span id="labelserie2"><b> Série II:</b> <span id="serieii"></span></span>
              </label>
              <label class="btn w-100 btn-outline-success labelCBserie">
                <input type="radio" name="serie" value="3">
                <span id="labelserie3"><b> Série III:</b> <span id="serieiii"></span></span>
              </label>
            </div>
          </div>
          <div class="alert alert-danger text-center m-3" style="display:none;" id="monaoencontrada" role="alert">
               MO não encontrada
          </div>
         </div>
         <div>
           <ul class="progress-indicator">
             <li class="completed"> <span class="bubble"></span>Passo 1</li>
             <li> <span class="bubble"></span>Passo 2</li>
             <li> <span class="bubble"></span>Passo 3</li>
           </ul>
         </div>
         <div class="btn-group col-sm-12">
           <a href="#" class="btn btn-dark col-sm-6" id="passo1_logoff">Logoff</a>
           <a href="#" class="btn btn-primary col-sm-6 disabled" id="passo1_proximo">Próximo</a>
         </div>
       </div>
       <div id="passo2" style="display:none; position: absolute; top: 0; width: 100%;">
        <div style="min-height: 84vh; border-bottom: 1px solid white;">
          <div style="background-color: #202020; color: #E6E6E6;" class="p-2 pt-3 pb-0 text-center">
          	<b>MO:</b> <span id="moHeader"></span><br />
          	<span id="serieHeader"></span><br />
            <b>Operador:</b> {{request.user.username}} - {{request.user.first_name}}
          </div>
          <div style="color: #FFFFFF;" id="divDescricao" class="m-2 p-2 mb-3">
          	<b>Operação:</b><br />
            <span id="operacao"></span><br /><br />
          	<b>Requisito:</b><br />
            <span id="item"></span> - <span id="requisito"></span><br /><br />
          	<b>Método/Instrução:</b><br />
            <span id="metodoinstrucao"></span>
          </div>
          <div class="container" id="compermissao" style="display: none;">
          	<div class="row text-center mb-3">
            	<div class="col-sm-8 col-8 font-weight-bold">Resultado</div>
            	<div class="col-sm-4 col-4 font-weight-bold">Unidade</div>
           	</div>
            <div class="row">
            	<div class="col-sm-8 col-8" id= "divresultado"></div>
            	<div class="col-sm-4 col-4 text-center pt-1"><span id="unidade"></span></div>
            </div>
          </div>
          <div class="alert alert-danger text-center m-3" style="display:none;" id="sempermissao" role="alert">
  			       Sem permissão para registrar a inspeção desse requisito.<br /><b>Solicitar aos colaboradores responsáveis.</b>
		      </div>
          <div style="padding-top: 20vh; display:none;" id="msgFinalizado">
            <div class="alert alert-primary text-center m-3" role="alert">
    			       A inspeção dessa série já está finalizada.
  		      </div>
          </div>
         </div>
         <div>
           <ul class="progress-indicator">
             <li class="completed"> <span class="bubble"></span>Passo 1</li>
             <li class="completed"> <span class="bubble"></span>Passo 2</li>
             <li> <span class="bubble"></span>Passo 3</li>
           </ul>
         </div>
         <div class="btn-group col-sm-12">
          <a href="#" class="btn btn-secondary col-sm-6" id="passo2_anterior">Anterior</a>
          <a href="#" class="btn btn-success col-sm-6 disabled" id="passo2_proximo">Registrar</a>
         </div>
       </div>
       <div id="passo3" style="display:none; position: absolute; top: 0; width: 100%;" class="ui-widget-content ui-corner-all">
          <div style="min-height: 84vh; border-bottom: 1px solid white;">
            <div style="background-color: #202020; color: #E6E6E6;" class="p-2 pt-3 pb-0 text-center">
              <b>Plano de Controle:</b><br /> ROD02637-050D018-002-000<br />
              <b>Identificação:</b> IP XX XXX 19, <b>Revisão:</b> 01
            </div>
            <div class="pl-2 pr-3 ml-3" id="resumoRegistro" style="margin-top: 20vh; border-left: 1px solid black;">
              <div class="alert alert-success text-center" role="alert">
                   Inspeção registrada!
              </div>
              <div id="infoRegistro"></div>
            </div>
            <div style="padding-top: 20vh; display:none;" id="divSalvocomSucessoFalse">
              <div class="alert alert-danger text-center m-2" role="alert">
                   Erro ao registrar inspeção, favor contactar inspetor de qualidade
              </div>
            </div>
          </div>
          <div>
            <ul class="progress-indicator">
              <li class="completed"> <span class="bubble"></span>Passo 1</li>
              <li class="completed"> <span class="bubble"></span>Passo 2</li>
              <li class="completed"> <span class="bubble"></span>Passo 3</li>
            </ul>
          </div>
          <div class="btn-group col-sm-12">
            <a href="#" class="btn btn-primary col-sm-6" id="passo3_inicio">Novo Registro</a>
            <a href="#" class="btn btn-dark col-sm-6" id="passo3_logoff">Logoff</a>
          </div>
       </div>
     </form>
    </div>

    <script type="text/javascript">
      jQuery(document).ready(function($) {
          $("#buscarMO").click (function () {
            $("#buscarMO").attr("disabled", true);
            $("#passo1_proximo").addClass('disabled');
            $('input[name="serie"]').prop("checked", false);
            $('.labelCBserie').removeClass("active");

            var url = $("#formInspecao").attr("dataCarregarMO");  // get the url of the `load_cities` view
            var MOBuscar = $('#txbMO').val();  // get the selected country ID from the HTML input
            $.ajax({                       // initialize an AJAX request
              cache: false,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: url,
              data: {
                'MOBuscar': MOBuscar
              }
            })
            .done(function (response) {
              $.each(response, function (index1, value1) {
                if (value1.encontrado == "true") {
                  $("#moencontrada").css("display", "block");
                  $("#monaoencontrada").css("display", "none");
                  $("#hiddenidHPC").val(this.idHPC);
                  $("#seriei").text(this.seriei);
                  $("#serieii").text(this.serieii);
                  $("#serieiii").text(this.serieiii);
                }
                else {
                  $("#moencontrada").css("display", "none");
                  $("#monaoencontrada").css("display", "block");
                }
              })
            });

          });

          $("#divMO").delegate("#txbMO", "input", function() {
            $("#passo1_proximo").addClass('disabled');
            if ($('#txbMO').val() != "") {
              $("#buscarMO").attr("disabled", false);
            }
            else {
              $("#buscarMO").attr("disabled", true);
            }
            $("#moencontrada").css("display", "none");
            $("#monaoencontrada").css("display", "none");
            $("#hiddenidHPC").val("");
            $("#seriei").text("");
            $("#serieii").text("");
            $("#serieiii").text("");
            $('input[name="serie"]').prop("checked", false);
            $('.labelCBserie').removeClass("active");
          });

          $(".grupoCBserie").delegate("label", "click", function() {
            $("#passo1_proximo").removeClass('disabled');
          });

      		$("#passo1_proximo").click(function () {
            $("#moHeader").text($('#txbMO').val());
            $("#serieHeader").html($("#labelserie" + $('input[name="serie"]:checked').val()).html());
            $("#passo2_proximo").addClass('disabled');

            var url = $("#formInspecao").attr("dataCarregarItemInspecao");  // get the url of the `load_cities` view
            var MOBuscar = $('#txbMO').val();
            var SerieBuscar = $('input[name="serie"]:checked').val();
            $.ajax({                       // initialize an AJAX request
              cache: false,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: url,
              data: {
                'MOBuscar': MOBuscar,
                'SerieBuscar': SerieBuscar
              }
            })
            .done(function (response) {
              $.each(response, function (index2, value2) {
                if (value2.finalizado == "true") {
                  $("#divDescricao").css("display", "none");
                  $("#msgFinalizado").css("display", "block");
                  $("#compermissao").css("display", "none");
                  $("#sempermissao").css("display", "none");
                }
                else {
                  $("#divDescricao").css("display", "block");
                  $("#msgFinalizado").css("display", "none");
                  if (value2.compermissao == "true") {
                    $("#hiddenidItemInspecaoPC").val(value2.idItemInspecaoPC);
                    $("#operacao").text(value2.operacao);
                    $("#item").text(value2.numero);
                    $("#requisito").text(value2.requisito);
                    $("#metodoinstrucao").text(value2.metodoinstrucao);
                    $("#divDescricao").css("background-color", value2.cor);
                    $("#unidade").text(value2.unidade);
                    if (value2.unidade == "OK/NOK") {
                      $("#divresultado").html('<select class="form-control" id="valorresultado"><option value="">-----</option><option value="OK">OK</option><option value="NOK">NOK</option></select>');
                    }
                    else {
                      $("#divresultado").html('<input type="text" class="form-control" id="valorresultado" />');
                    }

                    $("#compermissao").css("display", "block");
                    $("#sempermissao").css("display", "none");
                  }
                  else {
                    $("#compermissao").css("display", "none");
                    $("#sempermissao").css("display", "block");
                  }
                }
              })
            });
            $("#passo1").effect("drop", {direction: "left"}, 200);
            $("#passo2").effect("slide", {direction: "right"}, 200);
          });

          $("#passo2_anterior").click(function () {
            $("#hiddenidItemInspecaoPC").val("");

            $("#divDescricao").css("background-color", "#202020");
            $("#divresultado").html("");
            $("#unidade").text("");
            $("#passo1").effect("slide", {direction: "left"}, 200);
            $("#passo2").effect("drop", {direction: "right"}, 200);
          });

          $("#divresultado").delegate("#valorresultado", "input", function() {
            if ($("#valorresultado").val() != "") {
              $("#passo2_proximo").removeClass('disabled');
            }
            else {
              $("#passo2_proximo").addClass('disabled');
            }
          });

          $("#passo2_proximo").click(function () {

            var url = $("#formInspecao").attr("dataRegistrarInspecao");
            var SerieSv = $('input[name="serie"]:checked').val();
            var valorSv = $("#valorresultado").val();
            var hiddenidHPCSv = $("#hiddenidHPC").val();
            var hiddenidItemInspecaoPCSv = $("#hiddenidItemInspecaoPC").val();
            $.ajax({
              cache: false,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: url,
              data: {
                'SerieSv': SerieSv,
                'valorSv': valorSv,
                'hiddenidHPCSv': hiddenidHPCSv,
                'hiddenidItemInspecaoPCSv': hiddenidItemInspecaoPCSv
              }
            })
            .done(function (response) {
              $.each(response, function (index3, value3) {
                if (value3.inspecaoSalvaSucesso == "true") {
                  $("#resumoRegistro").css("display", "block");
                  $("#divSalvocomSucessoFalse").css("display", "none");
                  $("#infoRegistro").html("<b>MO: </b>" + $('#txbMO').val() + "<br/ >");
                  $("#infoRegistro").append($("#labelserie" + $('input[name="serie"]:checked').val()).html() + "<br/ >");
                  $("#infoRegistro").append("<b>Operador: </b>{{request.user.username}} - {{request.user.first_name}}" + "<br/ >");
                  $("#infoRegistro").append("<b>Operação: </b>" + $("#operacao").html() + "<br/ >");
                  $("#infoRegistro").append("<b>Requisito: </b>" + $("#requisito").html() + "<br/ >");
                  $("#infoRegistro").append("<b>Resultado: </b>" + $("#valorresultado").val());
                  if ($("#unidade").html() != "OK/NOK") {
                    $("#infoRegistro").append($("#unidade").html());
                  }
                }
                else {
                  $("#resumoRegistro").css("display", "none");
                  $("#divSalvocomSucessoFalse").css("display", "block");
                }
                $("#passo2").effect("drop", {direction: "left"}, 200);
                $("#passo3").effect("slide", {direction: "right"}, 200);
              })
            });

          });

          $("#passo3_inicio").click(function () {
            location.reload();
          });
          $("#passo1_logoff").click(function () {
            window.location.href = "{% url 'telaPrincipal:logout' %}";
          });
          $("#passo3_logoff").click(function () {
            window.location.href = "{% url 'telaPrincipal:logout' %}";
          });
    	});
    </script>
  </body>
</html>
